.todo{
    border: 2px black solid; 
    border-radius: 5px; 
    display: flex;
    align-content: center;
    width:20%;
    padding:10px;
    margin:10px;
}

.todoDone{
    background-color: lightgreen;
}

/*.dot{
    background-color: blue;
    width:4em;
    height:4em;
    border-radius: 50%;
}

.emoji-picker-react{
    display: flex !important;
}

.hide-emojis{
    display: none !important;
}*/

.todoForm{
    display: flex;
}

.emoji-mart-bar{
    display: none !important; 
}

.emoji-mart-search{
    display: none !important; 
}
.reactions{
    display:none;
}

.emojiList{
    display:block;
}